# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Environment files
.env
.env.*

# Logs
*.log
logs/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Spark output metadata
_SUCCESS
*.crc

# Temporary files
tmp/
temp/
output/
outputs/
